/* ================================= 
  Base Element Styles
==================================== */


body {
	position: relative;
	margin: auto;
	font-family: 'Futura PT', sans-serif;
}
/*modal window */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1000;
}

/*grid*/

    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, auto);
      gap: 12px;
      line-height: 50%;
      width: 80%;
      margin: auto;
    }
    .card { 
      display: flex;
      justify-content: space-evenly;
      background-color: #ffffff;
        border-radius: 5px;
        border: 2px solid #dfdfdf;
        padding: 20px;
        margin: 2%;
    }


    hr {
        box-sizing: content-box; 
        height: 0; 
        overflow: visible; 
      }
      

      @keyframes pulse {
        0% { transform: scale(1); }
        50% { transform: scale(1.2); }
        100% { transform: scale(1); }
      }
      
      #my-svg {
        animation: pulse 2s infinite;
      }
      

      .carousel-item img {
        object-fit: contain;
        object-position: center;
        
        margin: auto;
        }

        .transform-image {
          transition: transform 0.3s ease-in-out;
        }
        
        .transform-image:hover {
          transform: scale(1.1) rotate(5deg);
        }

        .enlarge-on-hover {
          font-size: 16px; /* Starting font size */
          transition: font-size 0.3s ease; /* Smooth transition effect */
        }
        
        .enlarge-on-hover:hover {
          font-size: 20px; /* Larger font size on hover */
        }

        @media (max-width: 576px) {
          .mobile-menu-spacer {
              height: 1em; /* Adjust based on your menu height */
          }
      }